---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
Courses (whole semester):
====
Resource and Environmental Economics (Graduate Students, Fall 2019/20/21)
Frontiers of Landscape Ecology (Graduate Students, Spring 2020)​

Courses (2-3 times for a semester):
====
Reading and Writing on Resource Economics II (Graduate Students, Spring 2020/21)
Reading and Writing on Resource Economics I (Graduate Students, Fall 2019/20)
Reading and Writing (Graduate Students, Fall 2019/20)
