---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

Submitted
=====
* Daniel Cusworth, Alexis Bloom, Shuang Ma, Charles Miller, Kevin Bowman, Yi Yin, Joannes Maasakkers, Yuzhong Zhang, Tia Scarpelli, Daniel Jacob, John Worden: <font color="#e63900">A Bayesian framework for deriving sector-based methane emissions from top-down fluxes</font>, submitted to _Nature Communications_, 2021.
* Zhen Qu, Daniel J. Jacob, Lu Shen, Xiao Lu, **Yuzhong Zhang**, Tia R. Scarpelli, Hannah O. Nesser, Melissa P. Sulprizio, Joannes D. Maasakkers, A. Anthony Bloom, John R. Worden, Robert J. Parker, Alba L. Delgado: <font color="#e63900"> Global distribution of methane emissions: a comparative inverse analysis of observations from the TROPOMI and GOSAT satellite instruments</font>, _Atmos. Chem. Phys. Discuss._, in review, 2021. [[link]](https://doi.org/10.5194/acp-2021-309)

